<form class="service-offering-form row" name="service-offeringform">
  <span class="service_offering_id id">{{$ctrl.item.id}}</span>
  <span class="invalid">{{$ctrl.item.errors.full_messages}}</span>

  <div class="service-offering-name row col-lg-12">
    <label class="col-xs-3">Name:</label>
    <input class="col-xs-9"
           name="service-offering-name" 
           data-ng-model="$ctrl.item.so_name" 
           ng-readonly="!$ctrl.authz.canUpdate"
           required="required"
           maxlength="40"
           pattern=".{3,}" title="3 character minimum for Name"/>
    <span class="invalid">{{$ctrl.item.errors.name}}</span>
  </div>

  <div class="service-offering-public-fields row col-lg-12"
       ng-show="service-offeringform.$valid">
    <label class="col-xs-3">Public Field:</label>
    <textarea class="col-xs-9"
           name="service-offering-public-field" 
           ng-model="$ctrl.item.public_field" 
           ng-readonly="!$ctrl.authz.canUpdate"
           type="text"
           size="80"
           maxlength="4000"/>
    <span class="invalid">{{$ctrl.item.errors.description}}</span>
  </div>

  <div class="service-offering-non-public-fields row col-lg-12"
       ng-show="$ctrl.authz.canGetDetails && service-offeringform.$valid">
    <label class="col-xs-3">Non Public Field:</label>
    <textarea class="col-xs-9"
           name="service-offering-non-public-field" 
           ng-model="$ctrl.item.non_public_field" 
           ng-readonly="!$ctrl.authz.canUpdate"
           type="text"
           size="80"
           maxlength="4000"/>
    <span class="invalid">{{$ctrl.item.errors.notes}}</span>
  </div>

  <div class="image-controls">
    <span ng-show="$ctrl.authz.authenticated">

      <span ng-show="$ctrl.item.id">
        <button name="service-offering-update"
                type="submit"
                ng-show="$ctrl.authz.canUpdate" 
                ng-disabled="!service-offeringform.$dirty"
                ng-click="$ctrl.update()">Update Service Offering</button>
        <button name="service-offering-delete"
                type="submit"
                ng-show="$ctrl.authz.canDelete" 
                ng-click="$ctrl.remove()">Delete Service Offering</button>
      </span>
    </span>
    <button name="service-offering-clear"
            type="submit"
            ng-show="$ctrl.item.id || service-offeringform.$dirty"
            ng-click="$ctrl.clear()">Clear Service Offering</button>
  </div>

</form>
